- var page_Title = 'Course List';
- var accordion             = true;
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var scrollbar             = true;

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container.w-full
            .page-title
              .grid.grid-cols-12.mx-2.items-center
                div(class="col-span-6 sm:col-span-12")
                  h3
                    | Course List
                div(class="col-span-6 sm:col-span-12")
                  ol.breadcrumb.flex.gap-2
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Course
                    li.breadcrumb-item.active Course List
          // Container-fluid starts
          .container
            .grid.grid-cols-12.card-gap
              div(class="col-span-9 xl:col-span-12 xl-60 xl-0 order-none xl:order-1 box-col-12")
                .grid.grid-cols-12.card-gap
                  div(class="col-span-12")
                    .card
                      .blog-box.blog-list.grid.grid-cols-12.card-gap
                        div(class="col-span-5 sm:col-span-12")
                          img.max-w-full.h-auto.sm-100-w(src='../assets/images/faq/1.jpg', alt='')
                        div(class="col-span-7 sm:col-span-12")
                          .blog-details
                            .blog-date
                              span 05
                              |  January 2025
                            h6 Java Language 
                            .blog-bottom-content
                              ul.blog-social
                                li by: Paige Turner
                                li 15 Hits
                              hr
                              p.mt-0
                                | Learning new skills that will position you for success in the future is crucial as the workplace changes. Even while learning new techniques, methods, and approaches might be difficult, doing so is crucial for increasing your economic mobility and securing stable employment. Retraining and upskilling are two important methods for achieving this.
                  div(class="col-span-12")
                    .card
                      .blog-box.blog-list.grid.grid-cols-12.card-gap
                        div(class="col-span-5 sm:col-span-12")
                          img.max-w-full.h-auto.sm-100-w(src='../assets/images/faq/2.jpg', alt='')
                        div(class="col-span-7 sm:col-span-12")
                          .blog-details
                            .blog-date
                              span 10
                              |  March 2025
                            h6 Web Development 
                            .blog-bottom-content
                              ul.blog-social
                                li by: Lea Odom
                                li 34 Hits
                              hr
                              p.mt-0
                                | Websites that are both aesthetically pleasing and user-friendly are the work of eb designers. They create layouts, visuals, and interactive components by fusing technical expertise with creative imagination. To make sure websites perform seamlessly across all devices and browsers, web designers use a variety of tools and programming languages, including HTML, CSS, and JavaScript. By concentrating on user experience (UX) and user interface (UI) design, they seek to improve the usability and attractiveness of websites.
                  div(class="col-span-4 xl-50 xl:col-span-6 sm:col-span-12 box-col-6")
                    .card
                      .blog-box.blog-grid.text-center.product-box
                        .product-img
                          img.max-w-full.h-auto.top-radius-blog(src='../assets/images/faq/3.jpg', alt='')
                          .product-hover
                            ul
                              li
                                i.icon-link
                              li
                                i.icon-import
                        .blog-details-main
                          ul.blog-social
                            li 9 April 2018
                            li by: Admin
                            li 0 Hits
                          hr
                          h6.blog-bottom-details One line at a time, a web developer's code has the power to change the world.
                  div(class="col-span-4 xl-50 xl:col-span-6 sm:col-span-12 box-col-6")
                    .card
                      .blog-box.blog-grid.text-center.product-box
                        .product-img
                          img.max-w-full.h-auto.top-radius-blog(src='../assets/images/faq/5.jpg', alt='')
                          .product-hover
                            ul
                              li
                                i.icon-link
                              li
                                i.icon-import
                        .blog-details-main
                          ul.blog-social
                            li 12 Oct 2019
                            li by: Admin
                            li 0 Hits
                          hr
                          h6.blog-bottom-details The only thing you can purchase that increases your wealth is travel.
                  div(class="col-span-4 xl-50 xl:col-span-6 sm:col-span-12 box-col-6")
                    .card
                      .blog-box.blog-grid.text-center.product-box
                        .product-img
                          img.max-w-full.h-auto.top-radius-blog(src='../assets/images/faq/6.jpg', alt='')
                          .product-hover
                            ul
                              li
                                i.icon-link
                              li
                                i.icon-import
                        .blog-details-main
                          ul.blog-social
                            li 23 July 2019
                            li by: Admin
                            li 0 Hits
                          hr
                          h6.blog-bottom-details Live simply, move lightly, and radiate and embody light.
                  div(class="col-span-4 xl-50 xl:col-span-6 sm:col-span-12 box-col-6")
                    .card
                      .blog-box.blog-grid.text-center.product-box
                        .product-img
                          img.max-w-full.h-auto.top-radius-blog(src='../assets/images/faq/7.jpg', alt='')
                          .product-hover
                            ul
                              li
                                i.icon-link
                              li
                                i.icon-import
                        .blog-details-main
                          ul.blog-social
                            li 10 Sep 2020
                            li by: Admin
                            li 0 Hits
                          hr
                          h6.blog-bottom-details Your voice becomes your most powerful asset in the blogging world.
                  div(class="col-span-4 xl-50 xl:col-span-6 sm:col-span-12 box-col-6")
                    .card
                      .blog-box.blog-grid.text-center.product-box
                        .product-img
                          img.max-w-full.h-auto.top-radius-blog(src='../assets/images/faq/4.jpg', alt='')
                          .product-hover
                            ul
                              li
                                i.icon-link
                              li
                                i.icon-import
                        .blog-details-main
                          ul.blog-social
                            li 12 Jan 2021
                            li by: Admin
                            li 0 Hits
                          hr
                          h6.blog-bottom-details Blogging is the platform to leave a digital footprint on the sands of time.
                  div(class="col-span-4 xl-50 xl:col-span-6 sm:col-span-12 box-col-6")
                    .card
                      .blog-box.blog-grid.text-center.product-box
                        .product-img
                          img.max-w-full.h-auto.top-radius-blog(src='../assets/images/faq/8.jpg', alt='')
                          .product-hover
                            ul
                              li
                                i.icon-link
                              li
                                i.icon-import
                        .blog-details-main
                          ul.blog-social
                            li 8 April 2023
                            li by: Admin
                            li 0 Hits
                          hr
                          h6.blog-bottom-details The digital era's pulse, blogging connects people's hearts and brains.
              div(class="col-span-3 xl:col-span-12 xl-40 box-col-12 learning-filter")
                .md-sidebar
                  a.btn.btn-primary.email-aside-toggle.text-white.md-sidebar-toggle(class="hover:text-white") Job filter
                  .md-sidebar-aside.job-sidebar.custom-scrollbar
                    .default-according.style-1.faq-accordion.job-accordion
                      #accordionExample
                        .card.accordion
                          #headingOne.card-header.accordion-item
                            h2.accordion-header.relative
                              button.accordion-button.btn.btn-link.btn-block.text-start(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                | Filter
                            #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                              .card-body.filter-cards-view.animate-chk
                                .job-filter.mb-2
                                  .faq-form
                                    input.form-control(type='text', placeholder='Search..')
                                    i.search-icon(data-feather='search')
                                .job-filter
                                  .faq-form
                                    input.form-control(type='text', placeholder='location..')
                                    i.search-icon(data-feather='map-pin')
                                .checkbox-animated
                                  .form-check.mb-2
                                    input#chk-ani.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani')
                                      span Full-time
                                      span.number (8688)
                                  .form-check.mb-2
                                    input#chk-ani1.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani1')
                                      span Contract
                                      span.number (503)
                                  .form-check.mb-2
                                    input#chk-ani2.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani2')
                                      span Part-time
                                      span.number (288)
                                  .form-check.mb-2
                                    input#chk-ani3.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani3')
                                      span Internship
                                      span.number (236)
                                  .form-check.mb-2
                                    input#chk-ani4.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani4')
                                      span Temporary
                                      span.number (146)
                                  .form-check.mb-2
                                    input#chk-ani5.checkbox_animated(type='checkbox', data-original-title='', title='')
                                    label.form-check-label(for='chk-ani5')
                                      span Commission
                                      span.number (25)
                                button.btn.btn-primary(type='button' class="!text-center !text-white") Find jobs
                        .card.accordion
                          #headingTwo.card-header.accordion-item
                            h2.accordion-header.relative
                              button.accordion-button.btn.btn-link.btn-block.text-start.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
                                | Location
                            #collapseTwo.accordion-collapse.collapse.show(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                              .card-body.animate-chk
                                .location-checkbox
                                  label.block(for='chk-ani6')
                                    input#chk-ani6.checkbox_animated(type='checkbox')
                                    |                           New York
                                    span.block NY (399)
                                  label.block(for='chk-ani7')
                                    input#chk-ani7.checkbox_animated(type='checkbox')
                                    |                            San Francisco
                                    span.block CA (252)
                                  label.block(for='chk-ani8')
                                    input#chk-ani8.checkbox_animated(type='checkbox')
                                    |                             Washington
                                    span.block DC (226)
                                  label.block(for='chk-ani9')
                                    input#chk-ani9.checkbox_animated(type='checkbox')
                                    |                            Seattle
                                    span.block WA (242)
                                  label.block(for='chk-ani10')
                                    input#chk-ani10.checkbox_animated(type='checkbox')
                                    |                           Chicago
                                    span.block IL (187)
                              button.btn.btn-block.btn-primary(type='button' class="!text-center !text-white") All Locations
                        .card.accordion
                          #headingThree.card-header.accordion-item
                            h2.accordion-header.relative
                              button.accordion-button.btn.btn-link.btn-block.text-start.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree')
                                | Job Title
                            #collapseThree.accordion-collapse.collapse.show(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                              .card-body.animate-chk
                                .form-check
                                  input#chk-ani11.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani11' class="!mb-0")
                                    span UI/UX Designer
                                    span.number (25)
                                .form-check
                                  input#chk-ani12.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani12' class="!mb-0")
                                    span Graphic Designer
                                    span.number (10)
                                .form-check
                                  input#chk-ani13.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani13' class="!mb-0")
                                    span Front-end Designer
                                    span.number (15)
                                .form-check
                                  input#chk-ani14.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani14' class="!mb-0")
                                    span PHP Developer
                                    span.number (42)
                                .form-check
                                  input#chk-ani15.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani15' class="!mb-0")
                                    span React Developer
                                    span.number (5)
                              button.btn.btn-block.btn-primary(type='button' class="!text-center !text-white") All Job Title
                        .card.accordion
                          #headingFour.card-header.accordion-item
                            h2.accordion-header.relative
                              button.accordion-button.btn.btn-link.btn-block.text-start.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='true' aria-controls='collapseFour')
                                | Industry
                            #collapseFour.accordion-collapse.collapse.show(aria-labelledby='headingFour' data-bs-parent='#accordionExample')
                              .card-body.animate-chk
                                .form-check
                                  input#chk-ani16.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani16' class="!mb-0")
                                    span Computer Software
                                    span.number (14)
                                .form-check
                                  input#chk-ani17.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani17' class="!mb-0")
                                    span IT Engineer
                                    span.number (10)
                                .form-check
                                  input#chk-ani18.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani18' class="!mb-0")
                                    span Service Industry
                                    span.number (20)
                                .form-check
                                  input#chk-ani19.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani19' class="!mb-0")
                                    span Accounting
                                    span.number (34)
                                .form-check
                                  input#chk-ani20.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani20' class="!mb-0")
                                    span Financial Services
                                    span.number (5)
                              button.btn.btn-block.btn-primary(type='button' class="!text-center !text-white") All Industries
                        .card.accordion
                          #headingFive.card-header.accordion-item
                            h2.accordion-header.relative
                              button.accordion-button.btn.btn-link.btn-block.text-start.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFive' aria-expanded='true' aria-controls='collapseFive')
                                | Specific Skills
                            #collapseFive.accordion-collapse.collapse.show(aria-labelledby='headingFive' data-bs-parent='#accordionExample')
                              .card-body.animate-chk
                                .form-check
                                  input#chk-ani21.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani21' class="!mb-0")
                                    span HTML,SCSS & SASS
                                .form-check
                                  input#chk-ani22.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani22' class="!mb-0")
                                    span Javascript
                                .form-check
                                  input#chk-ani23.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani23' class="!mb-0")
                                    span Node.js
                                .form-check
                                  input#chk-ani25.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani25' class="!mb-0")
                                    span Gulp & Pug
                                .form-check
                                  input#chk-ani26.checkbox_animated(type='checkbox', data-original-title='', title='')
                                  label.form-check-label(for='chk-ani26' class="!mb-0")
                                    span Angular.js
                              button.btn.btn-block.btn-primary(type='button' class="!text-center !text-white") All Skills 
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files
