- var page_Title = 'Error 500';
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/taptop
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
          // error-500 start
          .error-wrapper
            .container
              svg 
                use(href='../assets/svg/icon-sprite.svg#error-500')
              .grid.grid-cols-12
                div(class="col-start-4 md:col-start-0 col-span-6 md:col-span-12")
                  h3 Server Error
                  p.sub-content.pb-6
                    | The server couldn't finish processing your request due to an error.
              div
                a.btn.btn-primary.btn-lg.text-white.rounded-lg(href='index.html' class="hover:text-white") BACK TO HOME PAGE
          // error-500 end
        include ../../components/footer-files