- var page_Title = 'Flag Icon';
- var theme_customizer      = true;
- var page_flag_icon        = true;
- var notify                = true;
- var icon_notify           = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var scrollbar             = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container.w-full
            .page-title
              .grid.grid-cols-12.mx-2.items-center
                div(class="col-span-6 sm:col-span-12")
                  h3
                    | Flag Icons
                div(class="col-span-6 sm:col-span-12")
                  ol.breadcrumb.flex.gap-2
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Icons
                    li.breadcrumb-item.active Flag Icons
          // Container-fluid starts
          .container.w-full
            .grid.grid-cols-12.card-gap 
              .col-span-12
                .card
                  .card-header
                    h5.m-b-0 Flag Icons
                  .card-body
                    .grid.grid-cols-12.card-gap.icon-lists.flag-icons
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-in
                          .grow.align-self-center
                            h5 IN
                            h6.mt-0 India Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ad
                          .grow.align-self-center
                            h5 AD
                            h6.mt-0 Andorra Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ae
                          .grow.align-self-center
                            h5 AE
                            h6.mt-0 United Arab Emirates Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-af
                          .grow.align-self-center
                            h5 AF
                            h6.mt-0 Afghanistan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ag
                          .grow.align-self-center
                            h5 AG
                            h6.mt-0 Antigua and Barbuda Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ai
                          .grow.align-self-center
                            h5 AI
                            h6.mt-0 Anguilla Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-al
                          .grow.align-self-center
                            h5 AL
                            h6.mt-0 Albania Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-am
                          .grow.align-self-center
                            h5 AM
                            h6.mt-0 Armenia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ao
                          .grow.align-self-center
                            h5 AO
                            h6.mt-0 Angola Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ar
                          .grow.align-self-center
                            h5 AR
                            h6.mt-0 Argentina Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-as
                          .grow.align-self-center
                            h5 AS
                            h6.mt-0 American Samoa Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-at
                          .grow.align-self-center
                            h5 AT
                            h6.mt-0 Austria Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-au
                          .grow.align-self-center
                            h5 AU
                            h6.mt-0 Australia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-aw
                          .grow.align-self-center
                            h5 AW
                            h6.mt-0 Aruba Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ax
                          .grow.align-self-center
                            h5 AX
                            h6.mt-0 Aland Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-az
                          .grow.align-self-center
                            h5 AZ
                            h6.mt-0 Azerbaijan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ba
                          .grow.align-self-center
                            h5 BA
                            h6.mt-0 Bosnia and Herzegovina Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bb
                          .grow.align-self-center
                            h5 BB
                            h6.mt-0 Barbados Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bd
                          .grow.align-self-center
                            h5 BD
                            h6.mt-0 Bangladesh Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-be
                          .grow.align-self-center
                            h5 BE
                            h6.mt-0 Belgium Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bf
                          .grow.align-self-center
                            h5 BF
                            h6.mt-0 Burkina Faso Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bg
                          .grow.align-self-center
                            h5 BG
                            h6.mt-0 Bulgaria Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bh
                          .grow.align-self-center
                            h5 BH
                            h6.mt-0 Bahrain Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bi
                          .grow.align-self-center
                            h5 BI
                            h6.mt-0 Burundi Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bj
                          .grow.align-self-center
                            h5 BJ
                            h6.mt-0 Benin Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bl
                          .grow.align-self-center
                            h5 BL
                            h6.mt-0 Saint Barthélemy Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bm
                          .grow.align-self-center
                            h5 BM
                            h6.mt-0 Bermuda Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bn
                          .grow.align-self-center
                            h5 BN
                            h6.mt-0 Brunei Darussalam Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bo
                          .grow.align-self-center
                            h5 BO
                            h6.mt-0 Bolivia (Plurinational State of) Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bq
                          .grow.align-self-center
                            h5 BQ
                            h6.mt-0 Bonaire, Sint Eustatius and Saba Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-br
                          .grow.align-self-center
                            h5 BR
                            h6.mt-0 Brazil Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bs
                          .grow.align-self-center
                            h5 BS
                            h6.mt-0 Bahamas Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bt
                          .grow.align-self-center
                            h5 BT
                            h6.mt-0 Bhutan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bw
                          .grow.align-self-center
                            h5 BW
                            h6.mt-0 Botswana Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-by
                          .grow.align-self-center
                            h5 BY
                            h6.mt-0 Belarus Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-bz
                          .grow.align-self-center
                            h5 BZ
                            h6.mt-0 Belize Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ca
                          .grow.align-self-center
                            h5 CA
                            h6.mt-0 Canada Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cc
                          .grow.align-self-center
                            h5 CC
                            h6.mt-0 Cocos (Keeling) Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cd
                          .grow.align-self-center
                            h5 CD
                            h6.mt-0 Democratic Republic of the Congo Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cf
                          .grow.align-self-center
                            h5 CF
                            h6.mt-0 Central African Republic Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cg
                          .grow.align-self-center
                            h5 CG
                            h6.mt-0 Republic of the Congo Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ch
                          .grow.align-self-center
                            h5 CH
                            h6.mt-0 Switzerland Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ci
                          .grow.align-self-center
                            h5 CI
                            h6.mt-0 Côte d'Ivoire Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ck
                          .grow.align-self-center
                            h5 CK
                            h6.mt-0 Cook Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cl
                          .grow.align-self-center
                            h5 CL
                            h6.mt-0 Chile Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cm
                          .grow.align-self-center
                            h5 CM
                            h6.mt-0 Cameroon Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cn
                          .grow.align-self-center
                            h5 CN
                            h6.mt-0 China Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-co
                          .grow.align-self-center
                            h5 CO
                            h6.mt-0 Colombia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cr
                          .grow.align-self-center
                            h5 CR
                            h6.mt-0 Costa Rica Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cu
                          .grow.align-self-center
                            h5 CU
                            h6.mt-0 Cuba Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cv
                          .grow.align-self-center
                            h5 CV
                            h6.mt-0 Cabo Verde Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cw
                          .grow.align-self-center
                            h5 CW
                            h6.mt-0 Curaçao Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cx
                          .grow.align-self-center
                            h5 CX
                            h6.mt-0 Christmas Island Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cy
                          .grow.align-self-center
                            h5 CY
                            h6.mt-0 Cyprus Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-cz
                          .grow.align-self-center
                            h5 CZ
                            h6.mt-0 Czech Republic Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-de
                          .grow.align-self-center
                            h5 DE
                            h6.mt-0 Germany Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-dj
                          .grow.align-self-center
                            h5 DJ
                            h6.mt-0 Djibouti Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-dk
                          .grow.align-self-center
                            h5 DK
                            h6.mt-0 Denmark Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-dm
                          .grow.align-self-center
                            h5 DM
                            h6.mt-0 Dominica Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-do
                          .grow.align-self-center
                            h5 DO
                            h6.mt-0 Dominican Republic Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-dz
                          .grow.align-self-center
                            h5 DZ
                            h6.mt-0 Algeria Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ec
                          .grow.align-self-center
                            h5 EC
                            h6.mt-0 Ecuador Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ee
                          .grow.align-self-center
                            h5 EE
                            h6.mt-0 Estonia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-eg
                          .grow.align-self-center
                            h5 EG
                            h6.mt-0 Egypt Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-eh
                          .grow.align-self-center
                            h5 EH
                            h6.mt-0 Western Sahara Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-er
                          .grow.align-self-center
                            h5 ER
                            h6.mt-0 Eritrea Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-es
                          .grow.align-self-center
                            h5 ES
                            h6.mt-0 Spain Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-et
                          .grow.align-self-center
                            h5 ET
                            h6.mt-0 Ethiopia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-fi
                          .grow.align-self-center
                            h5 FI
                            h6.mt-0 Finland Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-fj
                          .grow.align-self-center
                            h5 FJ
                            h6.mt-0 Fiji Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-fk
                          .grow.align-self-center
                            h5 FK
                            h6.mt-0 Falkland Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-fm
                          .grow.align-self-center
                            h5 FM
                            h6.mt-0 Federated States of Micronesia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-fo
                          .grow.align-self-center
                            h5 FO
                            h6.mt-0 Faroe Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-fr
                          .grow.align-self-center
                            h5 FR
                            h6.mt-0 France Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ga
                          .grow.align-self-center
                            h5 GA
                            h6.mt-0 Gabon Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gb
                          .grow.align-self-center
                            h5 GB
                            h6.mt-0 United Kingdom Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gd
                          .grow.align-self-center
                            h5 GD
                            h6.mt-0 Grenada Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ge
                          .grow.align-self-center
                            h5 GE
                            h6.mt-0 Georgia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gf
                          .grow.align-self-center
                            h5 GF
                            h6.mt-0 French Guiana Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex 
                          i.flag-icon.flag-icon-gg
                          .grow.align-self-center
                            h5 GG
                            h6.mt-0 Guernsey Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gh
                          .grow.align-self-center
                            h5 GH
                            h6.mt-0 Ghana Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gi
                          .grow.align-self-center
                            h5 GI
                            h6.mt-0 Gibraltar Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gl
                          .grow.align-self-center
                            h5 GL
                            h6.mt-0 Greenland Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gm
                          .grow.align-self-center
                            h5 GM
                            h6.mt-0 Gambia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gn
                          .grow.align-self-center
                            h5 GN
                            h6.mt-0 Guinea Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gp
                          .grow.align-self-center
                            h5 GP
                            h6.mt-0 Guadeloupe Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gq
                          .grow.align-self-center
                            h5 GQ
                            h6.mt-0 Equatorial Guinea Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gr
                          .grow.align-self-center
                            h5 GR
                            h6.mt-0 Greece Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gs
                          .grow.align-self-center
                            h5 GS
                            h6.mt-0 South Georgia and the South Sandwich Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gt
                          .grow.align-self-center
                            h5 GT
                            h6.mt-0 Guatemala Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gu
                          .grow.align-self-center
                            h5 GU
                            h6.mt-0 Guam Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gw
                          .grow.align-self-center
                            h5 GW
                            h6.mt-0 Guinea-Bissau Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-gy
                          .grow.align-self-center
                            h5 GY
                            h6.mt-0 Guyana Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-hk
                          .grow.align-self-center
                            h5 HK
                            h6.mt-0 Hong Kong Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-hn
                          .grow.align-self-center
                            h5 HN
                            h6.mt-0 Honduras Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-hr
                          .grow.align-self-center
                            h5 HR
                            h6.mt-0 Croatia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ht
                          .grow.align-self-center
                            h5 HT
                            h6.mt-0 Haiti Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-hu
                          .grow.align-self-center
                            h5 HU
                            h6.mt-0 Hungary Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-id
                          .grow.align-self-center
                            h5 ID
                            h6.mt-0 Indonesia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ie
                          .grow.align-self-center
                            h5 IE
                            h6.mt-0 Ireland Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-il
                          .grow.align-self-center
                            h5 IL
                            h6.mt-0 Israel Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-im
                          .grow.align-self-center
                            h5 IM
                            h6.mt-0 Isle of Man Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-io
                          .grow.align-self-center
                            h5 IO
                            h6.mt-0 British Indian Ocean Territory Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-iq
                          .grow.align-self-center
                            h5 IQ
                            h6.mt-0 Iraq Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ir
                          .grow.align-self-center
                            h5 IR
                            h6.mt-0 Iran (Islamic Republic of) Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-is
                          .grow.align-self-center
                            h5 IS
                            h6.mt-0 Iceland Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-it
                          .grow.align-self-center
                            h5 IT
                            h6.mt-0 Italy Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-je
                          .grow.align-self-center
                            h5 JE
                            h6.mt-0 Jersey Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-jm
                          .grow.align-self-center
                            h5 JM
                            h6.mt-0 Jamaica Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-jo
                          .grow.align-self-center
                            h5 JO
                            h6.mt-0 Jordan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-jp
                          .grow.align-self-center
                            h5 JP
                            h6.mt-0 Japan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ke
                          .grow.align-self-center
                            h5 KE
                            h6.mt-0 Kenya Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-kg
                          .grow.align-self-center
                            h5 KG
                            h6.mt-0 Kyrgyzstan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-kh
                          .grow.align-self-center
                            h5 KH
                            h6.mt-0 Cambodia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ki
                          .grow.align-self-center
                            h5 KI
                            h6.mt-0 Kiribati Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-km
                          .grow.align-self-center
                            h5 KM
                            h6.mt-0 Comoros Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-kn
                          .grow.align-self-center
                            h5 KN
                            h6.mt-0 Saint Kitts and Nevis Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-kp
                          .grow.align-self-center
                            h5 KP
                            h6.mt-0 North Korea Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-kr
                          .grow.align-self-center
                            h5 KR
                            h6.mt-0 South Korea Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-kw
                          .grow.align-self-center
                            h5 KW
                            h6.mt-0 Kuwait Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ky
                          .grow.align-self-center
                            h5 KY
                            h6.mt-0 Cayman Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-kz
                          .grow.align-self-center
                            h5 KZ
                            h6.mt-0 Kazakhstan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-la
                          .grow.align-self-center
                            h5 LA
                            h6.mt-0 Laos Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-lb
                          .grow.align-self-center
                            h5 LB
                            h6.mt-0 Lebanon Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-lc
                          .grow.align-self-center
                            h5 LC
                            h6.mt-0 Saint Lucia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-li
                          .grow.align-self-center
                            h5 LI
                            h6.mt-0 Liechtenstein Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-lk
                          .grow.align-self-center
                            h5 LK
                            h6.mt-0 Sri Lanka Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-lr
                          .grow.align-self-center
                            h5 LR
                            h6.mt-0 Liberia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ls
                          .grow.align-self-center
                            h5 LS
                            h6.mt-0 Lesotho Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-lt
                          .grow.align-self-center
                            h5 LT
                            h6.mt-0 Lithuania Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-lu
                          .grow.align-self-center
                            h5 LU
                            h6.mt-0 Luxembourg Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-lv
                          .grow.align-self-center
                            h5 LV
                            h6.mt-0 Latvia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ly
                          .grow.align-self-center
                            h5 LY
                            h6.mt-0 Libya Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ma
                          .grow.align-self-center
                            h5 MA
                            h6.mt-0 Morocco Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mc
                          .grow.align-self-center
                            h5 MC
                            h6.mt-0 Monaco Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-md
                          .grow.align-self-center
                            h5 MD
                            h6.mt-0 Moldova Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-me
                          .grow.align-self-center
                            h5 ME
                            h6.mt-0 Montenegro Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mf
                          .grow.align-self-center
                            h5 MF
                            h6.mt-0 Saint Martin Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mg
                          .grow.align-self-center
                            h5 MG
                            h6.mt-0 Madagascar Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mh
                          .grow.align-self-center
                            h5 MH
                            h6.mt-0 Marshall Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mk
                          .grow.align-self-center
                            h5 MK
                            h6.mt-0 Former Yugoslav Republic of Macedonia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ml
                          .grow.align-self-center
                            h5 ML
                            h6.mt-0 Mali Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mm
                          .grow.align-self-center
                            h5 MM
                            h6.mt-0 Myanmar Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mn
                          .grow.align-self-center
                            h5 MN
                            h6.mt-0 Mongolia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mo
                          .grow.align-self-center
                            h5 MO
                            h6.mt-0 Macau Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mp
                          .grow.align-self-center
                            h5 MP
                            h6.mt-0 Northern Mariana Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mq
                          .grow.align-self-center
                            h5 MQ
                            h6.mt-0 Martinique Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mr
                          .grow.align-self-center
                            h5 MR
                            h6.mt-0 Mauritania Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ms
                          .grow.align-self-center
                            h5 MS
                            h6.mt-0 Montserrat Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mt
                          .grow.align-self-center
                            h5 MT
                            h6.mt-0 Malta Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mu
                          .grow.align-self-center
                            h5 MU
                            h6.mt-0 Mauritius Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mv
                          .grow.align-self-center
                            h5 MV
                            h6.mt-0 Maldives Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mw
                          .grow.align-self-center
                            h5 MW
                            h6.mt-0 Malawi Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mx
                          .grow.align-self-center
                            h5 MX
                            h6.mt-0 Mexico Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-my
                          .grow.align-self-center
                            h5 MY
                            h6.mt-0 Malaysia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-mz
                          .grow.align-self-center
                            h5 MZ
                            h6.mt-0 Mozambique Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-na
                          .grow.align-self-center
                            h5 NA
                            h6.mt-0 Namibia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-nc
                          .grow.align-self-center
                            h5 NC
                            h6.mt-0 New Caledonia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ne
                          .grow.align-self-center
                            h5 NE
                            h6.mt-0 Niger Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-nf
                          .grow.align-self-center
                            h5 NF
                            h6.mt-0 Norfolk Island Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ng
                          .grow.align-self-center
                            h5 NG
                            h6.mt-0 Nigeria Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ni
                          .grow.align-self-center
                            h5 NI
                            h6.mt-0 Nicaragua Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-nl
                          .grow.align-self-center
                            h5 NL
                            h6.mt-0 Netherlands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-no
                          .grow.align-self-center
                            h5 NO
                            h6.mt-0 Norway Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-np
                          .grow.align-self-center
                            h5 NP
                            h6.mt-0 Nepal Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-nr
                          .grow.align-self-center
                            h5 NR
                            h6.mt-0 Nauru Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-nu
                          .grow.align-self-center
                            h5 NU
                            h6.mt-0 Niue Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-nz
                          .grow.align-self-center
                            h5 NZ
                            h6.mt-0 New Zealand Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-om
                          .grow.align-self-center
                            h5 OM
                            h6.mt-0 Oman Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pa
                          .grow.align-self-center
                            h5 PA
                            h6.mt-0 Panama Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pe
                          .grow.align-self-center
                            h5 PE
                            h6.mt-0 Peru Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pf
                          .grow.align-self-center
                            h5 PF
                            h6.mt-0 French Polynesia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pg
                          .grow.align-self-center
                            h5 PG
                            h6.mt-0 Papua New Guinea Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ph
                          .grow.align-self-center
                            h5 PH
                            h6.mt-0 Philippines Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pk
                          .grow.align-self-center
                            h5 PK
                            h6.mt-0 Pakistan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pl
                          .grow.align-self-center
                            h5 PL
                            h6.mt-0 Poland Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pm
                          .grow.align-self-center
                            h5 PM
                            h6.mt-0 Saint Pierre and Miquelon Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pn
                          .grow.align-self-center
                            h5 PN
                            h6.mt-0 Pitcairn Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pr
                          .grow.align-self-center
                            h5 PR
                            h6.mt-0 Puerto Rico Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ps
                          .grow.align-self-center
                            h5 PS
                            h6.mt-0 State of Palestine Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pt
                          .grow.align-self-center
                            h5 PT
                            h6.mt-0 Portugal Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-pw
                          .grow.align-self-center
                            h5 PW
                            h6.mt-0 Palau Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-py
                          .grow.align-self-center
                            h5 PY
                            h6.mt-0 Paraguay Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-qa
                          .grow.align-self-center
                            h5 QA
                            h6.mt-0 Qatar Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-re
                          .grow.align-self-center
                            h5 RE
                            h6.mt-0 Réunion Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ro
                          .grow.align-self-center
                            h5 RO
                            h6.mt-0 Romania Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-rs
                          .grow.align-self-center
                            h5 RS
                            h6.mt-0 Serbia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ru
                          .grow.align-self-center
                            h5 RU
                            h6.mt-0 Russia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-rw
                          .grow.align-self-center
                            h5 RW
                            h6.mt-0 Rwanda Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sa
                          .grow.align-self-center
                            h5 SA
                            h6.mt-0 Saudi Arabia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sb
                          .grow.align-self-center
                            h5 SB
                            h6.mt-0 Solomon Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sc
                          .grow.align-self-center
                            h5 SC
                            h6.mt-0 Seychelles Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sd
                          .grow.align-self-center
                            h5 SD
                            h6.mt-0 Sudan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-se
                          .grow.align-self-center
                            h5 SE
                            h6.mt-0 Sweden Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sg
                          .grow.align-self-center
                            h5 SG
                            h6.mt-0 Singapore Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sh
                          .grow.align-self-center
                            h5 SH
                            h6.mt-0 Saint Helena, Ascension and Tristan da Cunha Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-si
                          .grow.align-self-center
                            h5 SI
                            h6.mt-0 Slovenia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sj
                          .grow.align-self-center
                            h5 SJ
                            h6.mt-0 Svalbard and Jan Mayen Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sk
                          .grow.align-self-center
                            h5 SK
                            h6.mt-0 Slovakia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sl
                          .grow.align-self-center
                            h5 SL
                            h6.mt-0 Sierra Leone Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sm
                          .grow.align-self-center
                            h5 SM
                            h6.mt-0 San Marino Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sn
                          .grow.align-self-center
                            h5 SN
                            h6.mt-0 Senegal Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-so
                          .grow.align-self-center
                            h5 SO
                            h6.mt-0 Somalia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sr
                          .grow.align-self-center
                            h5 SR
                            h6.mt-0 Suriname Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ss
                          .grow.align-self-center
                            h5 SS
                            h6.mt-0 South Sudan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-st
                          .grow.align-self-center
                            h5 ST
                            h6.mt-0 Sao Tome and Principe Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sv
                          .grow.align-self-center
                            h5 SV
                            h6.mt-0 El Salvador Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sx
                          .grow.align-self-center
                            h5 SX
                            h6.mt-0 Sint Maarten Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sy
                          .grow.align-self-center
                            h5 SY
                            h6.mt-0 Syrian Arab Republic Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-sz
                          .grow.align-self-center
                            h5 SZ
                            h6.mt-0 Swaziland Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tc
                          .grow.align-self-center
                            h5 TC
                            h6.mt-0 Turks and Caicos Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-td
                          .grow.align-self-center
                            h5 TD
                            h6.mt-0 Chad Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tf
                          .grow.align-self-center
                            h5 TF
                            h6.mt-0 French Southern Territories Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tg
                          .grow.align-self-center
                            h5 TG
                            h6.mt-0 Togo Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-th
                          .grow.align-self-center
                            h5 TH
                            h6.mt-0 Thailand Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tj
                          .grow.align-self-center
                            h5 TJ
                            h6.mt-0 Tajikistan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tk
                          .grow.align-self-center
                            h5 TK
                            h6.mt-0 Tokelau Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tl
                          .grow.align-self-center
                            h5 TL
                            h6.mt-0 Timor-Leste Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tm
                          .grow.align-self-center
                            h5 TM
                            h6.mt-0 Turkmenistan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tn
                          .grow.align-self-center
                            h5 TN
                            h6.mt-0 Tunisia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-to
                          .grow.align-self-center
                            h5 TO
                            h6.mt-0 Tonga Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tr
                          .grow.align-self-center
                            h5 TR
                            h6.mt-0 Turkey Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tt
                          .grow.align-self-center
                            h5 TT
                            h6.mt-0 Trinidad and Tobago Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tv
                          .grow.align-self-center
                            h5 TV
                            h6.mt-0 Tuvalu Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tw
                          .grow.align-self-center
                            h5 TW
                            h6.mt-0 Taiwan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-tz
                          .grow.align-self-center
                            h5 TZ
                            h6.mt-0 Tanzania Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ua
                          .grow.align-self-center
                            h5 UA
                            h6.mt-0 Ukraine Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ug
                          .grow.align-self-center
                            h5 UG
                            h6.mt-0 Uganda Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-um
                          .grow.align-self-center
                            h5 UM
                            h6.mt-0 United States Minor Outlying Islands Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-us
                          .grow.align-self-center
                            h5 US
                            h6.mt-0 United States of America Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-uy
                          .grow.align-self-center
                            h5 UY
                            h6.mt-0 Uruguay Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-uz
                          .grow.align-self-center
                            h5 UZ
                            h6.mt-0 Uzbekistan Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-va
                          .grow.align-self-center
                            h5 VA
                            h6.mt-0 Holy See Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-vc
                          .grow.align-self-center
                            h5 VC
                            h6.mt-0 Saint Vincent and the Grenadines Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ve
                          .grow.align-self-center
                            h5 VE
                            h6.mt-0 Venezuela (Bolivarian Republic of) Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-vg
                          .grow.align-self-center
                            h5 VG
                            h6.mt-0 Virgin Islands (British) Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-vi
                          .grow.align-self-center
                            h5 VI
                            h6.mt-0 Virgin Islands (U.S.) Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-vn
                          .grow.align-self-center
                            h5 VN
                            h6.mt-0 Vietnam Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-vu
                          .grow.align-self-center
                            h5 VU
                            h6.mt-0 Vanuatu Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-wf
                          .grow.align-self-center
                            h5 WF
                            h6.mt-0 Wallis and Futuna Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ws
                          .grow.align-self-center
                            h5 WS
                            h6.mt-0 Samoa Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-ye
                          .grow.align-self-center
                            h5 YE
                            h6.mt-0 Yemen Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-yt
                          .grow.align-self-center
                            h5 YT
                            h6.mt-0 Mayotte Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-za
                          .grow.align-self-center
                            h5 ZA
                            h6.mt-0 South Africa Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-zm
                          .grow.align-self-center
                            h5 ZM
                            h6.mt-0 Zambia Flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        .flex
                          i.flag-icon.flag-icon-zw
                          .grow.align-self-center
                            h5 ZW
                            h6.mt-0 Zimbabwe Flag
          // Container-fluid Ends
        include ../../components/footer
      .icon-hover-bottom.p-fixed.fa-fa-icon-show-div.opacity-0
        .container
          .grid.grid-cols-12
            div(class="col-span-12")
              .icon-popup
                .close-icon
                  i.icofont.icofont-close
                .icon-first
                  i#icon_main.icon-drupal.fa-2x
                .icon-class
                  label.icon-title Class
                  span#fclass1 icon-drupal
                .icon-last.icon-last
                  label.icon-title Markup
                  .form-inline
                    .form-group
                      input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                      button.btn.btn-primary.notification.text-white.rounded-full(onclick='myFunction()') Copy Text
    include ../../components/footer-files
