- var page_Title = 'Themify Icon';
- var theme_customizer      = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var scrollbar             = true;
- var animate               = true;
- var page_icon             = true;
- var notify                = true;
- var icon_notify           = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container.w-full
            .page-title
              .grid.grid-cols-12.mx-2.items-center
                div(class="col-span-6 sm:col-span-12")
                  h3
                    | Themify icon
                div(class="col-span-6 sm:col-span-12")
                  ol.breadcrumb.flex.gap-2
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Icons
                    li.breadcrumb-item.active Themify icon
          // Container-fluid starts
          .container
            .grid.grid-cols-12.card-gap
              div(class="col-span-12")
                .card
                  .card-header
                    h5.m-b-0 Arrows & Direction Icons
                  .card-body
                    .grid.grid-cols-12.card-gap.icon-lists
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-up
                        |  icon-arrow-up
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-right
                        |  icon-arrow-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-left
                        |  icon-arrow-left
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-down
                        |  icon-arrow-down
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrows-vertical
                        |  icon-arrows-vertical
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrows-horizontal
                        |  icon-arrows-horizontal
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-angle-up
                        |  icon-angle-up
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-angle-right
                        |  icon-angle-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-angle-left
                        |  icon-angle-left
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-angle-down
                        |  icon-angle-down
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-angle-double-up
                        |  icon-angle-double-up
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-angle-double-right
                        |  icon-angle-double-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-angle-double-left
                        |  icon-angle-double-left
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-angle-double-down
                        |  icon-angle-double-down
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-move
                        |  icon-move
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-fullscreen
                        |  icon-fullscreen
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-top-right
                        |  icon-arrow-top-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-top-left
                        |  icon-arrow-top-left
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-circle-up
                        |  icon-arrow-circle-up
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-circle-right
                        |  icon-arrow-circle-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-circle-left
                        |  icon-arrow-circle-left
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrow-circle-down
                        |  icon-arrow-circle-down
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-arrows-corner
                        |  icon-arrows-corner
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-split-v
                        |  icon-split-v
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-split-v-alt
                        |  icon-split-v-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-split-h
                        |  icon-split-h
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-hand-point-up
                        |  icon-hand-point-up
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-hand-point-right
                        |  icon-hand-point-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-hand-point-left
                        |  icon-hand-point-left
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-hand-point-down
                        |  icon-hand-point-down
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-back-right
                        |  icon-back-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-back-left
                        |  icon-back-left
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-exchange-vertical
                        |  icon-exchange-vertical
              div(class="col-span-12")
                .card
                  .card-header
                    h5.m-b-0 Web App Icons
                  .card-body
                    .grid.grid-cols-12.card-gap.icon-lists
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-wand
                        |  icon-wand
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-save
                        |  icon-save
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-save-alt
                        |  icon-save-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-direction
                        |  icon-direction
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-direction-alt
                        |  icon-direction-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-user
                        |  icon-user
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-link
                        |  icon-link
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-unlink
                        |  icon-unlink
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-trash
                        |  icon-trash
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-target
                        |  icon-target
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-tag
                        |  icon-tag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-desktop
                        |  icon-desktop
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-tablet
                        |  icon-tablet
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-mobile
                        |  icon-mobile
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-email
                        |  icon-email
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-star
                        |  icon-star
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-spray
                        |  icon-spray
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-signal
                        |  icon-signal
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-shopping-cart
                        |  icon-shopping-cart
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-shopping-cart-full
                        |  icon-shopping-cart-full
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-settings
                        |  icon-settings
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-search
                        |  icon-search
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-zoom-in
                        |  icon-zoom-in
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-zoom-out
                        |  icon-zoom-out
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-cut
                        |  icon-cut
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-ruler
                        |  icon-ruler
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-ruler-alt-2
                        |  icon-ruler-alt-2
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-ruler-pencil
                        |  icon-ruler-pencil
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-ruler-alt
                        |  icon-ruler-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-bookmark
                        |  icon-bookmark
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-bookmark-alt
                        |  icon-bookmark-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-reload
                        |  icon-reload
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-plus
                        |  icon-plus
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-minus
                        |  icon-minus
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-close
                        |  icon-close
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pin
                        |  icon-pin
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pencil
                        |  icon-pencil
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pencil-alt
                        |  icon-pencil-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-paint-roller
                        |  icon-paint-roller
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-paint-bucket
                        |  icon-paint-bucket
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-na
                        |  icon-na
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-medall
                        |  icon-medall
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-medall-alt
                        |  icon-medall-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-marker
                        |  icon-marker
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-marker-alt
                        |  icon-marker-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-lock
                        |  icon-lock
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-unlock
                        |  icon-unlock
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-location-arrow
                        |  icon-location-arrow
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-layout
                        |  icon-layout
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-layers
                        |  icon-layers
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-layers-alt
                        |  icon-layers-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-key
                        |  icon-key
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-image
                        |  icon-image
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-heart
                        |  icon-heart
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-heart-broken
                        |  icon-heart-broken
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-hand-stop
                        |  icon-hand-stop
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-hand-open
                        |  icon-hand-open
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-hand-drag
                        |  icon-hand-drag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-flag
                        |  icon-flag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-flag-alt
                        |  icon-flag-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-flag-alt-2
                        |  icon-flag-alt-2
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-eye
                        |  icon-eye
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-import
                        |  icon-import
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-export
                        |  icon-export
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-cup
                        |  icon-cup
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-crown
                        |  icon-crown
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-comments
                        |  icon-comments
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-comment
                        |  icon-comment
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-comment-alt
                        |  icon-comment-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-thought
                        |  icon-thought
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-clip
                        |  icon-clip
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-check
                        |  icon-check
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-check-box
                        |  icon-check-box
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-camera
                        |  icon-camera
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-announcement
                        |  icon-announcement
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-brush
                        |  icon-brush
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-brush-alt
                        |  icon-brush-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-palette
                        |  icon-palette
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-briefcase
                        |  icon-briefcase
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-bolt
                        |  icon-bolt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-bolt-alt
                        |  icon-bolt-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-blackboard
                        |  icon-blackboard
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-bag
                        |  icon-bag
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-world
                        |  icon-world
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-wheelchair
                        |  icon-wheelchair
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-car
                        |  icon-car
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-truck
                        |  icon-truck
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-timer
                        |  icon-timer
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-ticket
                        |  icon-ticket
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-thumb-up
                        |  icon-thumb-up
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-thumb-down
                        |  icon-thumb-down
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-stats-up
                        |  icon-stats-up
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-stats-down
                        |  icon-stats-down
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-shine
                        |  icon-shine
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-shift-right
                        |  icon-shift-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-shift-left
                        |  icon-shift-left
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-shift-right-alt
                        |  icon-shift-right-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-shift-left-alt
                        |  icon-shift-left-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-shield
                        |  icon-shield
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-notepad
                        |  icon-notepad
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-server
                        |  icon-server
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pulse
                        |  icon-pulse
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-printer
                        |  icon-printer
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-power-off
                        |  icon-power-off
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-plug
                        |  icon-plug
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pie-chart
                        |  icon-pie-chart
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-panel
                        |  icon-panel
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-package
                        |  icon-package
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-music
                        |  icon-music
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-music-alt
                        |  icon-music-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-mouse
                        |  icon-mouse
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-mouse-alt
                        |  icon-mouse-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-money
                        |  icon-money
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-microphone
                        |  icon-microphone
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-menu
                        |  icon-menu
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-menu-alt
                        |  icon-menu-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-map
                        |  icon-map
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-map-alt
                        |  icon-map-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-location-pin
                        |  icon-location-pin
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-light-bulb
                        |  icon-light-bulb
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-info
                        |  icon-info
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-infinite
                        |  icon-infinite
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-id-badge
                        |  icon-id-badge
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-hummer
                        |  icon-hummer
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-home
                        |  icon-home
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-help
                        |  icon-help
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-headphone
                        |  icon-headphone
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-harddrives
                        |  icon-harddrives
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-harddrive
                        |  icon-harddrive
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-gift
                        |  icon-gift
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-game
                        |  icon-game
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-filter
                        |  icon-filter
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-files
                        |  icon-files
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-file
                        |  icon-file
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-zip
                        |  icon-zip
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-folder
                        |  icon-folder
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-envelope
                        |  icon-envelope
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-dashboard
                        |  icon-dashboard
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-cloud
                        |  icon-cloud
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-cloud-up
                        |  icon-cloud-up
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-cloud-down
                        |  icon-cloud-down
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-clipboard
                        |  icon-clipboard
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-calendar
                        |  icon-calendar
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-book
                        |  icon-book
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-bell
                        |  icon-bell
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-basketball
                        |  icon-basketball
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-bar-chart
                        |  icon-bar-chart
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-bar-chart-alt
                        |  icon-bar-chart-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-archive
                        |  icon-archive
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-anchor
                        |  icon-anchor
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-alert
                        |  icon-alert
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-alarm-clock
                        |  icon-alarm-clock
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-agenda
                        |  icon-agenda
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-write
                        |  icon-write
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-wallet
                        |  icon-wallet
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-video-clapper
                        |  icon-video-clapper
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-video-camera
                        |  icon-video-camera
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-vector
                        |  icon-vector
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-support
                        |  icon-support
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-stamp
                        |  icon-stamp
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-slice
                        |  icon-slice
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-shortcode
                        |  icon-shortcode
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-receipt
                        |  icon-receipt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pin2
                        |  icon-pin2
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pin-alt
                        |  icon-pin-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pencil-alt2
                        |  icon-pencil-alt2
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-eraser
                        |  icon-eraser
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-more
                        |  icon-more
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-more-alt
                        |  icon-more-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-microphone-alt
                        |  icon-microphone-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-magnet
                        |  icon-magnet
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-line-double
                        |  icon-line-double
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-line-dotted
                        |  icon-line-dotted
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-line-dashed
                        |  icon-line-dashed
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-ink-pen
                        |  icon-ink-pen
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-info-alt
                        |  icon-info-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-help-alt
                        |  icon-help-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-headphone-alt
                        |  icon-headphone-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-gallery
                        |  icon-gallery
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-face-smile
                        |  icon-face-smile
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-face-sad
                        |  icon-face-sad
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-credit-card
                        |  icon-credit-card
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-comments-smiley
                        |  icon-comments-smiley
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-time
                        |  icon-time
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-share
                        |  icon-share
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-share-alt
                        |  icon-share-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-rocket
                        |  icon-rocket
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-new-window
                        |  icon-new-window
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-rss
                        |  icon-rss
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-rss-alt
                        |  icon-rss-alt
              div(class="col-span-12")
                .card
                  .card-header
                    h5.m-b-0 Control Icons
                  .card-body
                    .grid.grid-cols-12.card-gap.icon-lists
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-stop
                        |  icon-control-stop
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-shuffle
                        |  icon-control-shuffle
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-play
                        |  icon-control-play
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-pause
                        |  icon-control-pause
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-forward
                        |  icon-control-forward
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-backward
                        |  icon-control-backward
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-volume
                        |  icon-volume
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-skip-forward
                        |  icon-control-skip-forward
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-skip-backward
                        |  icon-control-skip-backward
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-record
                        |  icon-control-record
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-control-eject
                        |  icon-control-eject
              div(class="col-span-12")
                .card
                  .card-header
                    h5.m-b-0 Text Editor
                  .card-body
                    .grid.grid-cols-12.card-gap.icon-lists
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-paragraph
                        |  icon-paragraph
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-uppercase
                        |  icon-uppercase
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-underline
                        |  icon-underline
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-text
                        |  icon-text
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-Italic
                        |  icon-Italic
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-smallcap
                        |  icon-smallcap
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-list
                        |  icon-list
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-list-ol
                        |  icon-list-ol
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-align-right
                        |  icon-align-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-align-left
                        |  icon-align-left
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-align-justify
                        |  icon-align-justify
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-align-center
                        |  icon-align-center
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-quote-right
                        |  icon-quote-right
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-quote-left
                        |  icon-quote-left
              div(class="col-span-12")
                .card
                  .card-header
                    h5.m-b-0 Brand Icons
                  .card-body
                    .grid.grid-cols-12.card-gap.icon-lists
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-flickr
                        |  icon-flickr
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-flickr-alt
                        |  icon-flickr-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-instagram
                        |  icon-instagram
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-google
                        |  icon-google
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-github
                        |  icon-github
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-facebook
                        |  icon-facebook
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-dropbox
                        |  icon-dropbox
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-dropbox-alt
                        |  icon-dropbox-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-dribbble
                        |  icon-dribbble
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-apple
                        |  icon-apple
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-android
                        |  icon-android
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-yahoo
                        |  icon-yahoo
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-trello
                        |  icon-trello
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-stack-overflow
                        |  icon-stack-overflow
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-soundcloud
                        |  icon-soundcloud
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-sharethis
                        |  icon-sharethis
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-sharethis-alt
                        |  icon-sharethis-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-reddit
                        |  icon-reddit
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-microsoft
                        |  icon-microsoft
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-microsoft-alt
                        |  icon-microsoft-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-linux
                        |  icon-linux
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-jsfiddle
                        |  icon-jsfiddle
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-joomla
                        |  icon-joomla
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-html5
                        |  icon-html5
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-css3
                        |  icon-css3
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-drupal
                        |  icon-drupal
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-wordpress
                        |  icon-wordpress
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-tumblr
                        |  icon-tumblr
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-tumblr-alt
                        |  icon-tumblr-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-skype
                        |  icon-skype
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-youtube
                        |  icon-youtube
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-vimeo
                        |  icon-vimeo
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-vimeo-alt
                        |  icon-vimeo-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-twitter
                        |  icon-twitter
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-twitter-alt
                        |  icon-twitter-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-linkedin
                        |  icon-linkedin
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pinterest
                        |  icon-pinterest
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-pinterest-alt
                        |  icon-pinterest-alt
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-themify-logo
                        |  icon-themify-logo
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-themify-favicon
                        |  icon-themify-favicon
                      div(class="col-span-4 md:col-span-6 sm:col-span-12")
                        i.icon-themify-favicon-alt
                        |  icon-themify-favicon-alt

          // Container-fluid Ends
        include ../../components/footer
    .icon-hover-bottom.p-fixed.fa-fa-icon-show-div
      .container
        .grid.grid-cols-12
          div(class="col-span-12")
            .icon-popup
              .close-icon
                i.icofont.icofont-close
              .icon-first
                i#icon_main.fa-2x
              .icon-class
                label.icon-title Class
                span#fclass1
              .icon-last.icon-last
                label.icon-title Markup
                .form-inline
                  .form-group
                    input#input_copy.inp-val.form-control.m-r-10(type='text', value='', readonly='readonly')
                    button.btn.btn-primary.notification.rounded-full.text-white(onclick='myFunction()') Copy Text
    include ../../components/footer-files   
